.header{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:20px;
    position:sticky;
    top:0;
    z-index:100;
    background-color:#fcde67;
}

.header__logo{
    height:110px;
    object-fit:contain;
    margin-left:20px;

}

.header__menu{
    position:absolute ;
    left: 10px;
    bottom: 30px;
}

.header__input{
    display:flex;
    align-items:center;

}

.header__icon{
    margin-right: 20px;
    cursor:pointer;
}

.header__inputButton{
    width: 50px !important;

    color:#1400c6;
}

.header__icons{
    display:flex;
    align-items:center;
}

.header__input>input{
    flex:1 1;
    border:none;
}
