    
    body {
        margin: 0;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
          'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
          sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
      
      code {
        font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
          monospace;
      }
      *{
        margin: 0;
      }
      .home__page{
        display:flex;
      }
      .home{
        background-color:#fcde67;
      }
      .UploadPage{
        flex:0.88;
        background-color: #fcde67;
        /* border-style: solid; */
    }
        
    .container{
      display: flex;
      justify-content: space-evenly; 
  }