<!DOCTYPE html>
{% load static %} 
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>InnovatoBox</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'inno_user/css/header.css'%}">
        <link rel="stylesheet" href="{% static 'inno_user/css/home.css'%}">
        <style>
        .preset{
          margin: 5% 25% 5% 25%;

        }
      
      .UploadPage{
        flex:1;
        height: 605px;
    }
      </style>
 
</head>
    <body data-new-gr-c-s-check-loaded="14.998.0" data-gr-ext-installed=""> 
       
        <div id="root">
            <div class="app">
                <div class="/">
                    <div class="header">
                        <div class="header__left">
                                <img class="header__logo" src="https://pbs.twimg.com/media/EvIknhZVkAMKkxz?format=png&amp;name=small" alt="">
                        </div>


                    </div>
                    <div class="home__page">
                        <div class="UploadPage">

    <section class="container " style="background-color:#fcde67; 
            border-radius:20px; height:92% ;width:90%;border-style:groove; border-color: #349ADB; ">
    <div class="ml-3" style="margin: 40px; " >

      {% block body %}
<div class="preset">
  <h1 style="text-shadow: 2px 2px black">Forgot your password?</h1>
  <p style="font-size: 30px;">Enter your <b>Registered</b> email address below, and we'll send you email instructions for setting a new one.</p>

  <form method="POST">
    {% csrf_token %}
    {{ form }}
    <button  type="submit" class="btn btn-primary mx-5" style="font-size: 12px;" >Send </button>
  </form>
</div>
{% endblock %}
    </div>
    </section>

                        </div>

                    </div>
                </div>
            </div>
        </div>
      <script src="/static/js/bundle.js"></script>
      <script src="/static/js/vendors~main.chunk.js"></script>
      <script src="/static/js/main.chunk.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<script>
    {% block js %}
    {% endblock %}
</script>
    </body>
</html>